-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "kalima";

-- CreateEnum
CREATE TYPE "auth_provider_enum" AS ENUM ('local', 'firebase', 'google', 'facebook');

-- CreateEnum
CREATE TYPE "gender_enum" AS ENUM ('male', 'female');

-- CreateEnum
CREATE TYPE "portal_enum" AS ENUM ('store', 'academy');

-- CreateEnum
CREATE TYPE "role_enum" AS ENUM ('Admin', 'SubAdmin', 'Teacher', 'Student', 'Parent', 'Lecturer', 'Moderator', 'Assistant');

-- CreateEnum
CREATE TYPE "location_type_enum" AS ENUM ('School', 'Center');

-- CreateTable
CREATE TABLE "auth_identities" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "provider" "auth_provider_enum" NOT NULL,
    "provider_user_id" VARCHAR NOT NULL,
    "provider_email" VARCHAR,

    CONSTRAINT "auth_identities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_analytics" (
    "user_id" INTEGER NOT NULL,
    "views" INTEGER DEFAULT 0,
    "total_spent" DECIMAL(14,2) DEFAULT 0,
    "number_of_purchases" INTEGER DEFAULT 0,
    "successful_invites" INTEGER DEFAULT 0,
    "monthly_confirmed_count" INTEGER DEFAULT 0,
    "last_confirmed_count_update" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_analytics_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "user_roles" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "portal" "portal_enum" NOT NULL,
    "role" "role_enum" NOT NULL,

    CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "mongo_id" TEXT,
    "name" VARCHAR NOT NULL,
    "email" VARCHAR,
    "password" VARCHAR,
    "phone" VARCHAR,
    "gender" "gender_enum",
    "is_email_verified" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "secondary_phone" VARCHAR,
    "profile_pic_url" TEXT,
    "password_changed_at" TIMESTAMP(6),
    "confirmed" BOOLEAN DEFAULT false,
    "hasPromoCode" BOOLEAN DEFAULT false,
    "hasUsedPromoCode" BOOLEAN DEFAULT false,
    "email_verified_at" TIMESTAMPTZ(6),
    "role" "role_enum",

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "token_hash" VARCHAR NOT NULL,
    "revoked" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assistants" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "lecturer_user_id" INTEGER NOT NULL,

    CONSTRAINT "assistants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "government" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "government_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lecturers" (
    "user_id" INTEGER NOT NULL,
    "bio" TEXT,
    "expertise" TEXT,

    CONSTRAINT "lecturers_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "levels" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "levels_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "parent_children" (
    "id" SERIAL NOT NULL,
    "parent_user_id" INTEGER NOT NULL,
    "student_user_id" INTEGER NOT NULL,

    CONSTRAINT "parent_children_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "parents" (
    "user_id" INTEGER NOT NULL,
    "government_id" INTEGER,
    "zone_id" INTEGER,

    CONSTRAINT "parents_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "sites" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "sites_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "social_media" (
    "id" SERIAL NOT NULL,
    "teacher_user_id" INTEGER NOT NULL,
    "site_id" INTEGER,
    "url" TEXT NOT NULL,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "social_media_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "students" (
    "user_id" INTEGER NOT NULL,
    "level_id" INTEGER,
    "government_id" INTEGER,
    "zone_id" INTEGER,
    "parent_phone_number" VARCHAR(255),
    "sequenced_id" INTEGER,
    "faction" VARCHAR(255),

    CONSTRAINT "students_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "subjects" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "subjects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "teachers" (
    "user_id" INTEGER NOT NULL,
    "serial" VARCHAR(255),
    "is_primary" BOOLEAN DEFAULT false,
    "is_preparatory" BOOLEAN DEFAULT false,
    "is_secondary" BOOLEAN DEFAULT false,
    "government_id" INTEGER,
    "zone_id" INTEGER,
    "subject_id" INTEGER,

    CONSTRAINT "teachers_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "teaches_at" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "location_name" VARCHAR(255),
    "location_type" "location_type_enum",
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "teaches_at_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zones" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "government_id" INTEGER NOT NULL,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "zones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "email_verification_tokens" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "token_hash" VARCHAR NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "used_at" TIMESTAMPTZ(6),

    CONSTRAINT "email_verification_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_reset_tokens" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "token_hash" VARCHAR NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "used_at" TIMESTAMPTZ(6),

    CONSTRAINT "password_reset_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "categories" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "active" BOOLEAN DEFAULT true,
    "description" TEXT DEFAULT '',
    "parent_id" INTEGER,
    "mongo_id" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "coupons" (
    "id" SERIAL NOT NULL,
    "code" VARCHAR(50) NOT NULL,
    "discount_amount" DECIMAL(10,2) DEFAULT 0,
    "discount_percentage" INTEGER DEFAULT 0,
    "active" BOOLEAN DEFAULT true,
    "expires_at" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6),
    "deleted_at" TIMESTAMP(6),
    "mongo_id" TEXT,

    CONSTRAINT "coupons_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_required_fields" (
    "id" SERIAL NOT NULL,
    "product_id" INTEGER NOT NULL,
    "field_definition_id" INTEGER NOT NULL,
    "is_required" BOOLEAN DEFAULT true,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "product_required_fields_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "products" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "price" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "price_after_discount" DECIMAL(10,2),
    "serial" VARCHAR(255),
    "thumbnail" TEXT,
    "gallery" JSONB,
    "sample_url" TEXT,
    "category_id" INTEGER,
    "coupon_id" INTEGER,
    "is_archived" BOOLEAN DEFAULT false,
    "mongo_id" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6),
    "deleted_at" TIMESTAMP(6),

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "required_field_definitions" (
    "id" SERIAL NOT NULL,
    "label" VARCHAR(255) NOT NULL,
    "field_type" VARCHAR(50) DEFAULT 'text',
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "required_field_definitions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "auth_identities_provider_provider_user_id_key" ON "auth_identities"("provider", "provider_user_id");

-- CreateIndex
CREATE UNIQUE INDEX "user_roles_user_id_portal_role_key" ON "user_roles"("user_id", "portal", "role");

-- CreateIndex
CREATE UNIQUE INDEX "users_mongo_id_key" ON "users"("mongo_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "ix_users_mongo_id" ON "users"("mongo_id");

-- CreateIndex
CREATE INDEX "ix_refresh_tokens_user" ON "refresh_tokens"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "government_title_key" ON "government"("title");

-- CreateIndex
CREATE UNIQUE INDEX "levels_title_key" ON "levels"("title");

-- CreateIndex
CREATE UNIQUE INDEX "parent_children_parent_user_id_student_user_id_key" ON "parent_children"("parent_user_id", "student_user_id");

-- CreateIndex
CREATE UNIQUE INDEX "sites_title_key" ON "sites"("title");

-- CreateIndex
CREATE UNIQUE INDEX "subjects_title_key" ON "subjects"("title");

-- CreateIndex
CREATE UNIQUE INDEX "teachers_serial_key" ON "teachers"("serial");

-- CreateIndex
CREATE UNIQUE INDEX "zones_title_government_id_key" ON "zones"("title", "government_id");

-- CreateIndex
CREATE UNIQUE INDEX "email_verification_tokens_user_id_key" ON "email_verification_tokens"("user_id");

-- CreateIndex
CREATE INDEX "ix_email_verification_tokens_hash" ON "email_verification_tokens"("token_hash");

-- CreateIndex
CREATE UNIQUE INDEX "password_reset_tokens_user_id_key" ON "password_reset_tokens"("user_id");

-- CreateIndex
CREATE INDEX "ix_password_reset_tokens_hash" ON "password_reset_tokens"("token_hash");

-- CreateIndex
CREATE UNIQUE INDEX "categories_mongo_id_key" ON "categories"("mongo_id");

-- CreateIndex
CREATE UNIQUE INDEX "coupons_code_key" ON "coupons"("code");

-- CreateIndex
CREATE UNIQUE INDEX "coupons_mongo_id_key" ON "coupons"("mongo_id");

-- CreateIndex
CREATE UNIQUE INDEX "product_required_fields_product_id_field_definition_id_key" ON "product_required_fields"("product_id", "field_definition_id");

-- CreateIndex
CREATE UNIQUE INDEX "products_mongo_id_key" ON "products"("mongo_id");

-- CreateIndex
CREATE UNIQUE INDEX "required_field_definitions_label_key" ON "required_field_definitions"("label");

-- AddForeignKey
ALTER TABLE "auth_identities" ADD CONSTRAINT "auth_identities_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_analytics" ADD CONSTRAINT "user_analytics_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "assistants" ADD CONSTRAINT "assistants_lecturer_user_id_fkey" FOREIGN KEY ("lecturer_user_id") REFERENCES "lecturers"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "assistants" ADD CONSTRAINT "assistants_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "lecturers" ADD CONSTRAINT "lecturers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "parent_children" ADD CONSTRAINT "parent_children_parent_user_id_fkey" FOREIGN KEY ("parent_user_id") REFERENCES "parents"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "parent_children" ADD CONSTRAINT "parent_children_student_user_id_fkey" FOREIGN KEY ("student_user_id") REFERENCES "students"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "parents" ADD CONSTRAINT "parents_government_id_fkey" FOREIGN KEY ("government_id") REFERENCES "government"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "parents" ADD CONSTRAINT "parents_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "parents" ADD CONSTRAINT "parents_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "zones"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "social_media" ADD CONSTRAINT "social_media_site_id_fkey" FOREIGN KEY ("site_id") REFERENCES "sites"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "social_media" ADD CONSTRAINT "social_media_teacher_user_id_fkey" FOREIGN KEY ("teacher_user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "students" ADD CONSTRAINT "students_government_id_fkey" FOREIGN KEY ("government_id") REFERENCES "government"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "students" ADD CONSTRAINT "students_level_id_fkey" FOREIGN KEY ("level_id") REFERENCES "levels"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "students" ADD CONSTRAINT "students_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "students" ADD CONSTRAINT "students_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "zones"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teachers" ADD CONSTRAINT "teachers_government_id_fkey" FOREIGN KEY ("government_id") REFERENCES "government"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teachers" ADD CONSTRAINT "teachers_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "subjects"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teachers" ADD CONSTRAINT "teachers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teachers" ADD CONSTRAINT "teachers_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "zones"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teaches_at" ADD CONSTRAINT "teaches_at_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "zones" ADD CONSTRAINT "zones_government_id_fkey" FOREIGN KEY ("government_id") REFERENCES "government"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "email_verification_tokens" ADD CONSTRAINT "email_verification_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "password_reset_tokens" ADD CONSTRAINT "password_reset_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "categories" ADD CONSTRAINT "categories_parent_id_fkey" FOREIGN KEY ("parent_id") REFERENCES "categories"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "product_required_fields" ADD CONSTRAINT "product_required_fields_field_definition_id_fkey" FOREIGN KEY ("field_definition_id") REFERENCES "required_field_definitions"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "product_required_fields" ADD CONSTRAINT "product_required_fields_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "products"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "products_coupon_id_fkey" FOREIGN KEY ("coupon_id") REFERENCES "coupons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

