services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    environment:
      - VITE_API_URL=/api/v1
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5033:5000"
    environment:
      - NODE_ENV=development
      - DATABASE_URI=${DATABASE_URI}
      - PORT=${PORT}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET} 
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET}
    networks:
      - app-network
    volumes:
      - uploads:/app/public/uploads
      - signatures:/app/public/signatures

networks:
  app-network:
    driver: bridge

volumes:
  uploads:
  signatures:
