services:
  dev-frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8089:80"
      - "4449:443"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - dev-backend
    networks:
      - dev-network

  dev-backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5034:5000"
    environment:
      - NODE_ENV=development
      - DATABASE_URI=URI HERE
      - PORT=5000
      - REFRESH_TOKEN_SECRET=REFRESHSECRET44
      - ACCESS_TOKEN_SECRET=ACCESSSECRET44
      - CLOUDINARY_NAME=CLOUDINARYNAME
      - CLOUDINARY_KEY=CLOUDINARYKEY
      - CLOUDINARY_SECRET=CLOUDINARYSECRET
      - RESEND_API_KEY=RESENDAPIKEY
      - EMAIL_FROM=EMAILFROM@gmail.com
      - PAYMENT_SS_RETENTION_DAYS=30
    networks:
      - dev-network
    volumes:
      - uploads:/app/uploads

networks:
  dev-network:
    driver: bridge

volumes:
  uploads:
