services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8088:80"
      - "4448:443"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5033:5000"
    environment:
      - NODE_ENV=development
      - DATABASE_URI=${DATABASE_URI}
      - PORT=${PORT}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET} 
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET}
      - CLOUDINARY_NAME=${CLOUDINARY_NAME}
      - CLOUDINARY_KEY=${CLOUDINARY_KEY}
      - CLOUDINARY_SECRET=${CLOUDINARY_SECRET}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - EMAIL_FROM=${EMAIL_FROM}
      - PAYMENT_SS_RETENTION_DAYS=30
    networks:
      - app-network
    volumes:
      - uploads:/app/uploads
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    container_name: kalima-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=Ismk7@wscxSpjdbI
      - MONGO_INITDB_DATABASE=kalima
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  uploads:
  mongodb_data:
  mongodb_config:
