services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8088:80"
      - "4448:443"
    environment:
      - VITE_API_URL=${BACKEND_URL}
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5033:5000"
    environment:
      - NODE_ENV=development
      - DATABASE_URI=${DATABASE_URI}
      - PORT=${PORT}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET} 
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
