@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.animate-shake {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes float-down-dottedball {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-64px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-zigzag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-64px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes float-up-dottedball {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(64px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-float-zigzag {
  animation: float-zigzag 4s ease-in-out infinite;
}
.animate-float-up-dottedball {
  animation: float-up-dottedball 4s ease-in-out infinite;
}

@keyframes float-down-dottedball {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-64px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float-down-dottedball {
  animation: float-down-dottedball 3s ease-in-out infinite;
}

@keyframes spin-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-spin-y {
  animation: spin-y 3s linear infinite;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scanner-active {
  background: transparent !important;
}